<div class="entrada-paridad-y-la" data-model-id="300:20">
      <div class="nav-bar">
        <div class="dialogo"><img class="logo-dialogo" src="img/logo-dialogo.svg" /></div>
        <!-- <div class="frame">
          <div class="search"><img class="vector" src="img/vector.svg" /></div>
          <input class="buscar" placeholder="Buscar" />
        </div> -->
        <!-- <img class="img" src="img/frame-2.svg" /> -->
      </div>
      <div class="div">
        <div class="body">
          <div class="frame-2">
            <div class="frame-3">
              <div class="frame-3">
                <div class="div-wrapper">
                  <p class="text-wrapper">El rock ya tiene su día en el calendario mexiquense</p>
                </div>
                <div class="frame-4">
                  <p class="text-wrapper-2">Por:  Jenny Sadot García Jaramillo</p>
                  <div class="text-wrapper-2">Ilustraciones: Erwin Ritschl Galeazzi</div>
                </div>
                <p class="p">
                  El Congreso mexiquense aprobó que el rock tenga su propio día en el calendario<br />estatal -11 de
                  septiembre- y eso, sin duda merece un solo de guitarra.
                </p>
                <div class="frame-5">
                  <img class="billete-ok" src="rock/img/billete-1-ok-1.png" />
                  <p class="text-wrapper-3">
                    Fue la diputada María del Carmen de la Rosa Mendoza (morena) quien subió a tribuna para proponer el
                    Día del Rock Estatal, el cual justificó a través de una playlist poderosa, contundente y respaldada
                    con argumentos culturales, históricos y sociales de cómo el rock ha sido una vía de expresión para
                    la juventud, una manifestación de resistencia ante los modelos musicales impuestos por el marketing,
                    así como un símbolo de libertad artística y reivindicación cultural en el Estado de México, en el
                    país y en el mundo.
                  </p>
                </div>
              </div>
            </div>
            <div class="frame-6">
              <img class="billete-ok-2" src="rock/img/billete-1-ok-2.png" />
              <div class="frame-7">
                <p class="text-wrapper-4">
                  Es así que el Día del Rock Estatal busca reconocer el valor cultural, social y artístico de este
                  género musical que ha trascendido décadas y generaciones, impactando directamente en la identidad de
                  las juventudes mexiquenses, que, a través del ritmo de potentes bombos, graves acordes de bajo y
                  guitarras distorsionadas ha encontrado un estilo de vida particular y transgresor al tomar los
                  micrófonos para alzar la voz al ritmo de protestas, pero también de amor y desamor, nostalgia y
                  melancolía, o de la fantasía y el surrealismo.
                </p>
              </div>
            </div>
            <div class="frame-8">
              <p class="text-wrapper-5">
                Las, le y los congresistas de la LXII Legislatura coincidieron en que el rock en el Estado de México ha
                trascendido barreras sociales para convertirse en un testimonio vivo de la identidad cultural y la
                evolución social de la región, pues ha sido un catalizador de cambio, ha unificado comunidades y dejado
                un legado cultural que merece ser celebrado y preservado.
              </p>
              <img class="los-algo" src="rock/img/los-algo-1.png" />
            </div>
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="frame-9">
            <div class="frame-10">
              <p class="text-wrapper-6">Con este homenaje, el Congreso mexiquense</p>
              <div class="frame-11">
                <p class="text-wrapper-7">
                  busca que se abran puertas a festivales de música nacionales e internacionales, actividades
                  culturales, foros interactivos y espacios para que las nuevas generaciones de rock se desenvuelvan en
                  espacios seguros, muestren sus propuestas y así, contribuyan al desarrollo socioeconómico de la
                  región.
                </p>
                <p class="text-wrapper-7">
                  Asimismo, pretende que, al reconocer la importancia del rock en la entidad, se promueva su valoración
                  y preservación para dignificar a las, les y los creadores de melodías rockeras y garantizar que, en el
                  futuro, la población siga disfrutando al ritmo de este género musical que ha contribuido al tejido
                  social, cultural y económico de la entidad.
                </p>
                <img class="rocker" src="rock/img/rocker-1.png" />
              </div>
            </div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-8">¿Por qué se eligió el 11 de septiembre como Día del Rock Estatal?</p>
                <div class="frame-14">
                  <p class="text-wrapper-9">
                    Festival de Avándaro, la historia musical que se escribió en el Estado de México.
                  </p>
                  <p class="text-wrapper-10">
                    Sin duda, uno de los acontecimientos musicales que puso a México en la mira internacional durante el
                    siglo pasado fue el Festival Rock y Ruedas de Avándaro, un encuentro de bandas mexicanas y amantes
                    del rock que buscaba ser eco de los festivales que se estaban desarrollando en el mundo, en aquellos
                    años, como el Festival de Música y Arte de Woodstock, en 1969. Avándaro, ubicado en el municipio
                    mexiquense de Valle de Bravo fue la sede; la proyección inicial de asistentes durante los dos días
                    de festival era cercana a los 25 mil, cifra que quedó completamente rebasada pues albergó a
                    aproximadamente 300 mil personas.
                  </p>
                </div>
              </div>
              <img class="avandaro" src="rock/img/avandaro-1.png" />
            </div>
          </div>
        </div>
        <div class="frame-15">
          <p class="text-wrapper-7">
            El escenario del festival estuvo ambientado por bandas 100% mexicanas como Peace and Love, Three Souls in my
            Mind, Dug Dug´s, El Ritual, Tequila, La Máquina del Sonido, Love Army, Epílogo, El Sonido de la Luz, Javier
            Bátiz “El Brujo”, entre otros, quienes al ritmo de sus acordes hicieron vibrar, cantar y bailar a miles de
            personas con espíritus libres, contestarios y rebeldes.<br /><br />Avándaro, además de convertirse en un
            encuentro de la mocedad mexicana en torno a la música, fue expresión, apoyo y eco de las juventudes a los
            movimientos estudiantiles en México, que recordó los sensibles acontecimientos de Tlatelolco el 2 de octubre
            de 1968 y de El Halconazo el 10 de junio de 1971, por lo que hizo tambalear el modelo social y cultural
            establecido en aquel entonces por las figuras del poder, marcando así un antes y un después en la historia
            del rock en el país.
          </p>
          <img class="mapa" src="rock/img/mapa-2.png" />
        </div>
        <div class="frame-16">
          <div class="frame-17">
            <p class="text-wrapper-11">
              El Festival de Rock y Ruedas de Avándaro, se llevó a cabo en un contexto aun de represión hacia las
              personas jóvenes, por lo que fue tomado como sinónimo de una manifestación en contra del régimen en turno,
              que, a su vez, buscaba tener el control de este sector poblacional, para evitar rebeliones o revueltas.
            </p>
            <p class="text-wrapper-11">
              Desafortunadamente, los medios de comunicación fueron manipulados por las autoridades para presentar al
              festival como un caso de descontrol, perversión y decadencia juvenil y, de esta manera, justificar las
              acciones represivas del gobierno hacia las y los jóvenes, e incluso, llegaron a prohibir los conciertos de
              rock y su difusión en el país; sin embargo, la resistencia juvenil logró consolidarse como un movimiento
              contracultural de la mano del rock en el país.
            </p>
            <img class="magazine" src="rock/img/magazine-1.png" />
          </div>
        </div>
        <div class="frame-18">
          <div class="frame-19">
            <div class="frame-20">
              <p class="text-wrapper-12">
                Y aunque los encabezados de periódicos priorizaron y magnificaron los excesos como el consumo de drogas
                y alcohol; así como la desinhibición de mujeres al mostrar parte de sus cuerpos desnudos, hoy se sabe
                que el Festival de Rock y Ruedas de Avándaro fue un encuentro sereno que dejó en claro la necesidad de
                la libertad de expresión y convivencia pacífica entre la juventud de los años setentas.
              </p>
              <div class="frame-21">
                <p class="text-wrapper-8">Estado de México, un territorio que suena a rock</p>
                <img class="recurso" src="rock/img/recurso-2-2.png" />
                <div class="frame-14">
                  <p class="text-wrapper-9">
                    Pachucos, cholos y chundos; y suena y suena mi esqueleto; todo cuenta, todo cuenta, cuando no hay
                    nada; tal vez, son algunos estribillos que has escuchado, cantado o tarareado en algún momento y es
                    que el rock en el Estado de México está presente.
                  </p>
                  <p class="text-wrapper-10">
                    Bandas como Café Tacvba, DLD y Resorte, originarias de Ciudad Satélite del municipio de Naucalpan;
                    Víctimas del Doctor Cerebro de Nezahualcóyotl; Banda Bostik de Tlalnepantla; Sekta Core! de Atizapán
                    de Zaragoza; Espantimandros, Desahogo Personal y Puerquerama del municipio de Toluca son algunas de
                    las bandas mexiquenses que han marcado directriz rockera en la entidad y han hecho vibrar los
                    escenarios nacionales e internacionales. En cuanto a subgéneros de rock con más seguidor.<br /><br />En
                    cuanto a subgéneros de rock con más seguidores en la entidad están el movimiento punk y rock urbano
                    que nacieron como una respuesta a la marginalidad por las condiciones socioeconómicas desfavorables;
                    también hay foros dedicados a la música de gothic rock, surf, garage rock y metal.
                  </p>
                  <p class="p">
                    Y sí, el rock en el Estado de México además de una expresión del arte a través de la música es una
                    manifestación sociocultural.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="frame-22">
        <div class="frame-23">
          <div class="boton">
            <a href="pdf/Blog Rock 9 sep_.pdf" download="Rock.pdf" class="leer-art-culo">
              Descargar infografía
            </a>
          </div>
          <div class="comando">
            <a [routerLink]="['/plastico_edomex']" class="anterior">
              <img class="vector-2" src="rock/img/vector-1.svg" />
              <div class="text-wrapper-13">Anterior</div>
            </a>
           <a [routerLink]="['/paridad_inclusion']"  class="siguiente">
              <div class="text-wrapper-14">Siguiente</div>
              <img class="vector-2" src="rock/img/vector-2.svg" />
           </a>
          </div>
          <div class="frame-24">
            <div class="frame-25">
              <div class="text-wrapper-15">Unete a nuestro Newsletter</div>
              <p class="text-wrapper-16">No te pierdas de ninguno de nuestras entradas</p>
            </div>
            <div class="frame-26">
              <app-newsletter></app-newsletter>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <img class="recurso-2" src="img/recurso-1.png" />
        <div class="text-wrapper-19">Aviso de privacidad</div>
      </footer>
    </div>
