
    <div class="home-web" data-model-id="280:764">
      <div class="nav-bar">
        <div class="dialogo"><img class="logo-dialogo" src="img/logo-dialogo.svg" /></div>
        <div class="frame">
          <div class="search"><img class="vector" src="img/vector.svg" /></div>
          <input class="buscar" placeholder="Buscar" />
        </div>
        <img class="img" src="img/frame-2.svg" />
      </div>
      <router-outlet></router-outlet>
      <footer class="footer">
        <img class="recurso" src="img/recurso-1.png" />
        <div class="text-wrapper-12">Aviso de privacidad</div>
      </footer>
    </div>

