.div-block .button-2 {
  display: inline-block;
  margin: 0.3rem;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: #f1f1f1;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.div-block .button-2:hover {
  background-color: #e0e0e0;
}

.div-block .button-2.activo {
  background-color: #999494; /* Azul destacado */
  color: #fff;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(115, 110, 110);
  border: 1px solid #827D7D;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between; /* separa texto e icono */
  align-items: center;           /* centra verticalmente */
  gap: 8px;                      /* espacio entre texto e icono */
  padding: 10px 19px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  min-width: 120px; /* evita que texto e icono se encimen */
}



.dropdown-list {
  display: block;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  min-width: 120px;
  margin-top: 4px;
  z-index: 10;
}

.dropdown-link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.dropdown-link:hover {
  background: #f0f0f0;
}

.activo {
  font-weight: bold;
  color: #827D7D;
}

.button.w-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.button.w-button:hover {
  transform: translateY(-2px); /* efecto levantado */
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

