<body>
  <div class="home-web">
    <div class="nav-bar">
      <div class="dialogo"><img class="logo-dialogo" src="img/logo-dialogo.svg" /></div>
      <!-- <img class="img" src="img/frame-2.svg" /> -->
    </div>

    <div class="body">
      <div class="div">
        <div class="frame-2">
          <div class="frame-3">
            <div class="frame-wrapper">
              <div class="frame-4">
                <div class="text-wrapper">Bienvenido a Diálogo</div>
                <p class="p">
                  Diálogo es el blog del Congreso del Estado de México que busca informar y difundir de manera cercana,
                  clara y accesible el quehacer legislativo que impacta directamente la cotidianidad de la sociedad
                  mexiquense.
                </p>
              </div>
            </div>

           
            
          </div>
          <div class="w-layout-blockcontainer container w-container">
            <h1 class="heading-3">Lo más reciente</h1>
            <div class="w-layout-blockcontainer container-2 w-container"></div>
            <p class="paragraph-2">El rock ya tiene su día en el calendario mexiquense</p>
            <p class="paragraph-3">19 de septiembre 2025</p>
            <p class="paragraph-4">Fue la diputada María del Carmen de la Rosa Mendoza (morena) quien subió a tribuna para proponer el Día del Rock Estatal, el cual justificó a través de una playlist poderosa, contundente y respaldada con argumentos culturales, históricos y sociales de cómo el rock ha sido una vía de expresión para la juventud, una manifestación de resistencia ante los modelos musicales impuestos por el marketing, así como un símbolo de libertad artística y reivindicación cultural en el Estado de México, en el país y en el mundo.</p>
            <a [routerLink]="'/rock_mexiquense'"  class="button w-button boton">Leer artículo</a>
          </div>

          <!-- Entradas dinámicas -->
          <div class="entradas">
            <div class="entrada-blog" *ngFor="let articulo of articulos[anioSeleccionado][trimestreSeleccionado]">
              <div class="div-2">
                <img class="imagen-entrada" [src]="articulo.img" />
                <div class="text-wrapper-7">{{ articulo.titulo }}</div>
              </div>
              <div class="boton" [routerLink]="articulo.ruta"><div class="text-wrapper-8">Leer artículo</div></div>
            </div>
          </div>

          <div class="frame-5">
                <select 
                  id="anioSelect"
                  [(ngModel)]="anioSeleccionado"
                  class="selector-anio">
                  <option *ngFor="let anio of [2024, 2025]" [value]="anio">
                    {{ anio }}
                  </option>
                </select>
              <div class="frame-6">
                  <div class="boton-trimestre"
                    *ngFor="let trimestre of [1, 2, 3, 4]"
                    (click)="cambiarTrimestre(trimestre)"
                    [class.activo]="trimestreSeleccionado === trimestre">
                    <div class="text-wrapper-3">
                    {{ trimestre }}{{ trimestre === 1 ? "er" : trimestre === 2 ? "do" : trimestre === 3 ? "er" : "to" }} trimestre
                    </div>
                  </div>
              </div>
              <img class="vector-2" src="img/vector-1.svg" />
          </div>
        </div>
          <!-- Newsletter -->
          <div class="newsletter">
            <div class="frame-9">
              <div class="text-wrapper-10">Unete a nuestro Newsletter</div>
              <p class="text-wrapper-11">No te pierdas de ninguna de nuestras entradas</p>
            </div>
            <div class="formulario-registro">
              <app-newsletter></app-newsletter>
            </div>
          </div>
        
      </div>
    </div>

    <footer class="footer">
      <img class="recurso" src="img/recurso-1.png" />
      <div class="text-wrapper-12">Aviso de privacidad</div>
    </footer>
  </div>
</body>
