@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Regesto Grotesk-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/68a8cc887f4d3b16d0728dd1/fonts/regestogrotesk-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Regesto Grotesk-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/68a8cc887f4d3b16d0728dd1/fonts/regestogrotesk-regular.ttf")
    format("truetype");
}


.home-web {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  position: relative;
  background-color: #f5f5f5;
}

.home-web .nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 276px;
  padding: 35px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #000000;
}

.home-web .dialogo {
  display: flex;
  flex-direction: column;
  width: 139px;
  align-items: center;
  gap: 10px;
  position: relative;
}

.home-web .logo-dialogo {
  position: relative;
  width: 139px;
  height: 34px;
}

.home-web .frame {
  display: flex;
  flex-wrap: wrap;
  width: 279px;
  align-items: center;
  gap: 10px 10px;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  border: 1px solid;
  border-color: #5a5a5a;
}

.home-web .search {
  position: relative;
  width: 24px;
  height: 24px;
}

.home-web .vector {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 3px;
  left: 3px;
}

.home-web .buscar {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 17px;
  background-color: transparent;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #5a5a5a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  border: 0;
  padding: 0;
}

.home-web .buscar::placeholder {
  color: #5a5a5a99;
}

.home-web .img {
  position: relative;
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  flex-grow: 1;
}

.home-web .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 83px;
  padding: 0px 40px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .frame-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 38px 38px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .frame-4 {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home-web .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 55px;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .p {
  position: relative;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .frame-5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .selecor-fecha {
  display: flex;
  min-width: 120px;
  max-width: 120px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 10px;
  border: 1px solid;
  border-color: #5a5a5a;
}

.home-web .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .icono-flecha {
  position: relative;
  width: 24px;
  height: 24px;
  transform: rotate(90.00deg);
}

.home-web .icono-flecha-2 {
  position: absolute;
  width: 10px;
  height: 5px;
  top: 9px;
  left: 8px;
  transform: rotate(-90.00deg);
}

.home-web .frame-6 {
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  align-items: center;
  justify-content: flex-end;
  gap: 20px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home-web .boton-trimestre {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.home-web .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
}

.home-web .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  transition: all 0.2s ease;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .text-wrapper-4:hover {
  color: #96134b;
}

.home-web .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  transition: all 0.2s ease;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #bbbbbb;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .text-wrapper-5:hover {
  color: #96134b;
}

.home-web .vector-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-bottom: -0.50px;
  object-fit: cover;
}

.home-web .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .entradas {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 31px 31px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .entrada-blog {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  align-items: flex-start;
  gap: 21px;
  padding: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
}

.home-web .imagen-entrada {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 234px;
  object-fit: cover;
}

.home-web .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .boton {
  display: flex;
  width: 147px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 10px;
}

.home-web .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .entrada-blog-2 {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
}

.home-web .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-web .newsletter {
  display: flex;
  flex-direction: column;
  height: 133px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.home-web .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -2.50px;
}

.home-web .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .formulario-registro {
  display: flex;
  flex-wrap: wrap;
  max-width: 390px;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -2.50px;
}

.home-web .mail-label {
  padding: 10px 20px;
  position: relative;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d9d9d9;
  flex: 1;
  height: 17px;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #5a5a5a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.home-web .boton-registro {
  display: flex;
  width: 147px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #000000;
  border-radius: 10px;
}

.home-web .footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px 0px;
  padding: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.home-web .recurso {
  position: relative;
  max-width: 290px;
  width: 290px;
  max-height: 59.76px;
  height: 59.76px;
  aspect-ratio: 4.85;
  object-fit: cover;
}

.home-web .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}
